<link *ngIf="customTheme" rel="stylesheet" [href]='customTheme | sanitize'>

<div id="ng-chat" *ngIf="!isDisabled && isBootstrapped" [ngClass]="theme">
    <div *ngIf="showParticipantsList">
        <ng-chat-participants
            [localization]="localization"
            [userId]="userId"
            [isCollapsed]="isCollapsed"
            [searchEnabled]="searchEnabled"
            [participants]="participants"
            [participantsResponse]="participantsResponse"
            [participantsInteractedWith]="participantsInteractedWith"
            [window]="chatWindow"
            [currentActiveOption]="currentActiveParticipantOption"
            (onParticipantClicked)="onParticipantClickedFromParticipantsList($event)"
            (onOptionPromptCanceled)="onOptionPromptCanceled()"
            (onOptionPromptConfirmed)="onOptionPromptConfirmed($event)"
        >
        </ng-chat-participants>
    </div>

    <div *ngIf="!!chatWindow"
         [ngClass]="{'ng-chat-window': true, 'primary-outline-color': true,
         'ng-chat-window-collapsed': chatWindow.isCollapsed}"
         [ngStyle]="{'right': (showParticipantsList ? participantsListWidth : 0) + 20 + windowSizeFactor * 0 + 'px'}">
        <ng-chat-window
            #ngChatWindow
            [fileUploadAdapter]="fileUploadAdapter"
            [localization]="localization"
            [userId]="userId"
            [chatWindow]="chatWindow"
            [currentActiveOption]="currentActiveMessageOption"
            [emojisEnabled]="emojisEnabled"
            [linkfyEnabled]="linkfyEnabled"
            [showMessageDate]="showMessageDate"
            [messageDatePipeFormat]="messageDatePipeFormat"
            [hasPagedHistory]="hasPagedHistory"
            (onDeleteMessage)="onDeleteMessage($event)"
            (onMessagesSeen)="onWindowMessagesSeen($event)"
            (onMessageSent)="onWindowMessageSent($event)"
            (onOptionTriggered)="onWindowOptionTriggered($event)"
            (onLoadHistoryTriggered)="fetchMessageHistory($event)"
            (onOptionPromptCanceled)="onOptionPromptCanceled()"
            (onOptionPromptConfirmed)="onOptionPromptConfirmed($event)"
        >
        </ng-chat-window>
    </div>
</div>
